* {
	font-family: "arial", "helvetica", sans-serif;
	font-size: 16px;
}

* [lang=ja] {
	font-family: "ms pgothic", sans-serif;
	font-size: 14px;
}

* [lang=ko] {
	font-family: "malgun gothic", sans-serif;
	font-size: 14px;
}

* [lang=ar] {
	font-family: "segoe ui", sans-serif;
	font-size: 16px;
}

abbr {
	text-decoration: none;
}

h1 {
	font-size: 20px;
}

td.if1{
	background-color:#DBE5F1;
}

ul {
	list-style-type: none;
}
